version: "3"
services:
  doru:
    build:
      context: ../../
      dockerfile: ./cmd/dorud/Dockerfile.dev
    volumes:
      - "${REPO_PATH}/doru:/data/doru"
    environment:
      - DORU_LOG_DEBUG=true
      - DORU_ADDR_API=0.0.0.0:1414
    ports:
      - "127.0.0.1:1414:1414"
    security_opt:
      - "seccomp:unconfined"
    cap_add:
      - SYS_PTRACE
    depends_on:
      - threads
      - ipfs
  threads:
    image: textile/go-threads:1.0.2
    restart: always
    volumes:
      - "${REPO_PATH}/threads:/data/threads"
    ports:
      - "4006:4006"
      - "4006:4006/udp"
      - "127.0.0.1:4000:4000"
      - "127.0.0.1:4010:4010"
  ipfs:
    image: ipfs/go-ipfs:v0.8.0
    volumes:
      - "${REPO_PATH}/ipfs:/data/ipfs"
    environment:
      - IPFS_PROFILE=test
    ports:
      - "4141:4001"
      - "4141:4001/udp"
      - "127.0.0.1:5001:5001"
      - "127.0.0.1:8080:8080"
